*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    margin: 100px 0px 0px 300px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: block;
    width: 500px;
    padding: 15px 20px;
    border: 2px solid orange;
    border-radius: 10px;
    height: 100%;


}

h1{
    margin-bottom: 20px;
    text-shadow: 1px 1px 3px #000;
    color: rgb(120, 116, 116);
}

form{
    display: block;
    margin: 10px 0px 10px 0px;
    width: 270px;
    padding: 12px 15px;
    background-color: #e5e5e5;
    border-radius: 7px;
    font-weight: 500;
    font-size: 18px;
    color: #2b2c2e;
}

form input{
    margin-top: 9px;
    padding: 7px 10px;
    border: 2px solid #71747b;
    border-radius: 7px;
    font-weight: 500;
    font-size: 18px;
    color: #2b2c2e;

}

form input:hover{
    border-color: orange;
}

form input:focus{
    border-color: orange;
    outline: none;
}



form button{
    margin: 20px 10px 0px 0px;
    padding: 15px 15px;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    color:white;
    font-size: 14px;
}

#clear_btn{
    background-color: rgba(231, 15, 15, 0.8);
}

#count_btn{
    background-color: rgba(0, 0, 255, 0.8);
}

#clear_btn:hover{
    background-color: rgba(231, 15, 15, 1);
}

#count_btn:hover{
    background-color: rgba(0, 0, 255, 1);
}

::placeholder{
    font-style: italic;
    font-size: 16px;
}

.monthly{
    font-size: 18px;
}

.final_value {
    font-size: 22px;
    font-weight: 560;
}

.first_message{
    font-size: 16px;
}

.payment_num{
    font-size: 20px;
    text-decoration: underline;
}

.calculation_num{
    font-size: 24px;
    text-decoration: underline;
}

.image_arrow{
    display: flex;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px 10px;
    font-display: column;
}

.image_arrow img{
    width: 100px;
    height: 50px;
    cursor: pointer;
    margin-top: 20px;
}

.image_arrow p{
    font-size: 28px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
}

.image_arrow a{
    font-size: 28px;
    font-weight: 600;
    text-decoration: none;
    
}

.image_arrow a:visited{
    color: rgba(58, 127, 58, 0.8);
}

.form_select{
    margin-top: 9px;
    padding: 7px 10px;
    border: 2px solid #71747b;
    border-radius: 7px;
    font-weight: 500;
    font-size: 18px;
    color: #2b2c2e;
    width: 200px;
}

#select_btn{
    padding: 10px 10px;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    color:white;
    font-size: 14px;
    position: absolute;
    left: 555px;
    top: 273px;
    background-color: rgba(68, 194, 219, 0.7);
}

#select_btn:hover{
    background-color: rgba(68, 194, 219, 1);
}
